<app-header></app-header>
<div class="bg">
	<app-chat *ngFor="let chat of Store.allChatsMeta" [members]="chat.members" [last]="chat.last" [name]="chat.name" [uid]="chat.uid"></app-chat>

   <div class="new-chat-modal-bg" *ngIf="showingModal" (click)="cancelNewChat()"></div>

   <div class="new-chat-modal" *ngIf="showingModal">
      <input type="text" class="name" placeholder="Name this group" [(ngModel)]="newChatName">
      <div class="user-search-wrap">
         <input type="text" class="user-search" placeholder="Search to add a user" [(ngModel)]="searchTerm">
         <div class="user-search-results">
            <app-user-profile [uid]="'uid'" [photoURL]="'bruh'" [username]="'TestUsername'" [userRemoval]="false" (click)="addNewUser('uid')"></app-user-profile>
         </div>
      </div>
      <div class="members">
         <app-user-profile *ngFor="let member of inProgressUsers" [photoURL]="member.photoURL" [username]="member.username"></app-user-profile>
      </div>
      <button class="modal-action modal-cancel" (click)="cancelNewChat()">Cancel</button>
      <button class="modal-action modal-finish">Finish</button>
   </div>

	<div class="new-chat" (click)="showNewChatModal()">New Chat</div>
</div>
