<div class="bg">
   <div class="gifs" *ngIf="retrieved">
      <span *ngFor="let gif of searchResult.data;">
         <video autoplay loop src={{gif.images.fixed_height.mp4}}></video>
         <div class="spinner-wrap">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
         </div>
      </span>

      <span *ngFor="let gif of searchResult.data;">
         <video autoplay loop src={{gif.images.fixed_height.mp4}}></video>
         <div class="spinner-wrap">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
         </div>
      </span>
      <span *ngFor="let gif of searchResult.data;">
         <video autoplay loop src={{gif.images.fixed_height.mp4}}></video>
         <div class="spinner-wrap">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
         </div>
      </span>
      

   </div>
   <input type="text" placeholder="Search for a GIF" [(ngModel)]="searchTerm" (keydown)="search($event)">
</div>