<div class="wrap">
    <div class="userWrap">
        <div class="users">
            <div class="user"></div>
            <div class="user"></div>
            <div class="user"></div>
            <div class="user"></div>
            <div class="user"></div>
            <div class="user"></div>
        </div>
    </div>
    <div class="name">
        <h1>Epic Chat 1</h1>
    </div>
    <div class="last">
        <p>@CalebDougal:</p>
        <div class="img">
            <img src="../../../assets/lol.gif" alt="">
        </div>
    </div>
    <div class="delete">
        <img src="../../../assets/trash.png" alt="">
    </div>
</div>