$theme-white: #e8e8e8;
$theme-blue-light: #00b7ff;
$theme-blue-dark: #006b8c;
$theme-black-light: #282828;
$theme-black-medium: #191919;
$theme-black-dark: #070707;
$theme-red: #b52626;

.wrap {
   width: calc(100% - 50px);
   background: $theme-black-dark;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   display: flex;
   margin-top: 15px;
   height: 10vh;
   position: relative;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   div {
      position: relative;
      align-items: center;
      .right-border {
         position: absolute;
         height: 70%;
         background: $theme-black-light;
         right: 0;
         width: 3px;
         margin-top: auto;
         margin-bottom: auto;
         top: 0;
         bottom: 0;
      }
   }
   .members {
      display: flex;
      flex: 2;
      flex-wrap: wrap;
      overflow: hidden;
      // background: red;
      .member {
         height: 30px;
         width: 30px;
         background: $theme-blue-dark;
         border-radius: 100%;
         margin: 10px;
         background-size: cover;
         background-position: center center;
      }
   }
   .name {
      display: flex;
      flex: 2;
      justify-content: center;
      font-family: "Miriam Libre";
      color: $theme-blue-light;
      font-size: 2vw;
      // background: orange;
   }
   .last {
      display: flex;
      flex: 3;
      padding-left: 25px;
      box-sizing: border-box;
      font-family: "Ubuntu";
      color: $theme-white;
      position: relative;
      .last-gif {
         position: absolute;
         right: 25px;
         border-radius: 5px;
         height: 8vh;
         video {
            border: 3px solid $theme-blue-dark;
            position: relative;
            height: 100%;
            padding: 0;
            margin: 0;
            border-radius: 5px;
            box-sizing: border-box;
         }
      }
      // background: yellow;
   }
   .leave {
      display: flex;
      flex: 0.5;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      svg {
         position: absolute;
         height: 40%;
         color: $theme-red;
         margin: auto;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
      }
      &:hover {
         background: $theme-black-medium;
      }
      // background: green;
   }
}