.wrap {
    display: flex;
    border-bottom: 2px solid #222;

    .userWrap {
        max-width: 20em;
        width: 15vw;
        border-right: 2px solid #222;
        display: flex;
        justify-content: center;
        align-items: center;
        .users {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 .5em .5em;
            width: fit-content;
            height: fit-content;
            margin-left: 1em;
            .user {
                height: 2em;
                width: 2em;
                border-radius: 100%;
                margin: .5em .5em 0 0;
                background: #00b7ff;
            }
        }
    }

    .name {
        border-right: solid 2px #222;
        display: flex;
        padding: .5em;
        justify-content: center;
        align-items: center;
        width: 15em;
        h1 {
            margin: 0;
            text-align: center;
        }
    }

    .last {
        display: flex;
        // border-right: 2px solid #222;
        padding: .5em;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p {
            margin: 0;
        }
        img {
            height: 10em;
        }
    }

    .delete {
        display: flex;
        padding: .5em;
        justify-content: center;
        align-items: center;
        img {
            height: 2em;
            margin-right: 2em;
            cursor: pointer;
        }
    }
}