.wrap {
    display: flex;
    align-items: flex-end;
    margin: 1em;
    .user {
        margin: 0 1em calc(3em - 4px) 0;
        width: 5em;
        height: 5em;
        background: #00b7ff;
        border-radius: 100%;
    }
    img {
        width: 25vw;
        border-radius: 4px;
    }
    .imginfo {
        display: flex;
        width: calc(25vw-2em);
        justify-content: space-between;
        img {
            width: 1em;
            height: 1em;
            cursor: pointer;
        }
    }
}

.sent {
    .user {
        display: none;
    }
    
    .imginfo {
        flex-direction: row-reverse;
    }
}