<div class="wrap">
    <div class="left">
        <!-- <div class="hamburger"></div> -->
        <img src="" alt="">
        <h1 routerLink="/chats">GIPHER</h1>
    </div>
    <div class="user">
        <div class="name">{{Store.activeUser.displayName}} [<span routerLink="/profile">@{{Store.activeUserName}}</span>]</div>
        <div routerLink="/profile" class="profilePic" style="background-image: url({{Store.activeUser.photoURL}})">
            <!-- <img src=""> -->
        </div>
    </div>
</div>
