.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #282828;
}

.options-modal {
  background: #191919;
  height: 55vh;
  width: 30vw;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #141414;
}
.options-modal .closeSuggested {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: auto;
  left: -300vw;
  right: -300vw;
  top: -300vw;
  bottom: -300vw;
}
.options-modal .startChat {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 10px;
  background: #006b8c;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  font-family: "Ubuntu";
  cursor: pointer;
}
.options-modal .users {
  position: absolute;
  top: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 200px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 3px solid #006b8c;
  border-radius: 5px;
  background: #282828;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
  top: 100px;
}
.options-modal .users .user-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: white;
  margin: 25px;
  background-position: center center;
  background-size: cover;
}
.options-modal .user-suggestion {
  position: absolute;
  top: 82px;
  width: calc(100% - 90px);
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
}
.options-modal .user-suggestion .suggested-user {
  width: 100%;
  height: 70px;
  background: inherit;
  cursor: pointer;
  position: relative;
  background: #191919;
}
.options-modal .user-suggestion .suggested-user:hover {
  background: #333;
}
.options-modal .user-suggestion .suggested-user .profile-image {
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
  border-radius: 100%;
  left: 10px;
  background: gray;
  background-position: center center;
  background-size: cover;
}
.options-modal .user-suggestion .suggested-user .profile-names {
  line-height: 70px;
  position: absolute;
  left: 70px;
  top: 0;
  font-family: "Ubuntu";
  color: white;
  user-select: none;
}
.options-modal .user-suggestion .suggested-user .profile-names .username {
  color: gray;
  margin-left: 25px;
}
.options-modal .user-search {
  position: absolute;
  top: 50px;
  width: calc(100% - 100px);
  border: 3px solid #006b8c;
  border-radius: 5px;
  background: #282828;
  color: #e8e8e8;
  outline: none;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
}

.newChat {
  position: absolute;
  right: 50px;
  bottom: 50px;
  background: #006b8c;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  font-family: "Ubuntu";
  cursor: pointer;
}

.search {
  position: absolute;
  left: 50px;
  bottom: 50px;
  background: #006b8c;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  font-family: "Ubuntu";
  cursor: pointer;
}

.gifs {
  background: #070707;
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  background: #070707;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 150px;
  padding: 5px;
  max-height: 60%;
  overflow-y: auto;
}
.gifs span {
  margin: 5px;
  height: 100px;
  background: #282828;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  min-width: 50px;
  cursor: pointer;
}
.gifs span video {
  height: 100px;
  position: relative;
  z-index: 10;
}
.gifs span .spinner-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 50px;
  position: absolute;
  top: 0;
  justify-content: center;
  z-index: 9;
}