<app-header></app-header>
<div class="page">
    <app-chat-list></app-chat-list>
    <div class="wrap">
        <div class="info">
            <div class="pic"></div>
            <h1>Anders Rasmusson</h1>
            <h3 class="username">@theandersman</h3>
            <h3>
                In 420 groups (haha) <br />
                Snap Score: 69,420 lmao
            </h3>
        </div>
        <button class="edit">Edit Profile</button>
    </div>
    <div class="edit-modal">
       <input type="text" placeholder="Display Name" [(ngModel)]="userData.displayName">
       <input type="text" placeholder="Username" [(ngModel)]="userData.username">
       <label for="user-color">Color</label><input type="color" id="user-color">
    </div>
</div>