<div class="wrap">
    <div class="drawers">
        <div class="drawer">
            <h3 routerLink='/profile'>Profile</h3>
        </div>
        <div class="drawer">
            <h3 routerLink='/chats'>Chats</h3>
        </div>
        <div class="drawer">
            <h3 routerLink='/'>Log out</h3>
        </div>
    </div>
    <div class="frequents">
        <h3>Frequents</h3>
        <div class="frequentUsers">
            <div class="user"></div>
            <div class="user"></div>
            <div class="user"></div>
        </div>
    </div>
</div>