<app-header></app-header>
<div class="wrap">
    <!-- <app-chat></app-chat> -->


      <div class="chat" *ngFor="let chat of Store.chats" >
         <div class="selectThisChat" (click)="selectChat(chat.uid)"></div>
         <div class="members">
            <div class="member" *ngFor="let user of chat.members | usersNotMe" style="background-image: url({{user.photoURL}})" title="@{{user.name}}"></div>
            <div class="seperator"></div>
         </div>
         <div class="chat-name">
            <p>{{chat.name}}</p>
            <div class="seperator"></div>
         </div>
         <div class="last-message">
            <p  *ngIf="chat.last.url != ''">
               <span class="username-at">@</span>
               <span class="username">{{chat.last.from}}</span>
               , {{getTime(chat.last.timestamp)}}:</p>
               <div class="lastGif" *ngIf="chat.last.url != ''">
                  <video autoplay loop disablePictureInPicture disableRemotePlayback muted="true" preload="auto" src="{{chat.last.url}}">Your browser does not support embedded video.</video>
                  <mat-progress-spinner mode="indeterminate" diameter="50" class="load-spinner"></mat-progress-spinner>
               </div>
               
            <div class="seperator"></div>
         </div>
         <div class="remove" (click)="removeFromChat(chat.uid)">
            <svg viewBox="0 0 24 24">
               <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
           </svg>
         </div>
      </div>



      <div class="newchat-modal" *ngIf="startingChat">
         <div class="closeSuggested" (click)="clearSuggested()"></div>
         <input type="text" class="user-search" placeholder="Search by username" [(ngModel)]="userSearchTerm" (keydown)="handleKey($event)" spellcheck="false">
         <div class="users" *ngIf="inProgressUsers.length > 0">
            <div class="user-image" *ngFor="let user of inProgressUsers" style="background-image: url({{user.photoURL}});"></div>
         </div>
         <div class="user-suggestion" *ngIf="suggested.length > 0">
            <div class="close-suggested" (click)="clearSuggested()"></div>

            <!-- <div class="suggested-user">
               <div class="profile-image"></div>
               <div class="profile-names">Caleb Dougal <span class="username">@dougalcaleb</span></div>
            </div>
            <div class="suggested-user">
               <div class="profile-image"></div>
               <div class="profile-names">Maleb Bugle <span class="username">@bruhboi</span></div>
            </div>
            <div class="suggested-user">
               <div class="profile-image"></div>
               <div class="profile-names">Maleb Bugle <span class="username">@bruhboi</span></div>
            </div> -->

            
            <div class="suggested-user" *ngFor="let user of suggested" (click)="selectUser(user.uid)">
               <div class="profile-image" style="background-image: url({{user.photoURL}})"></div>
               <div class="profile-names">{{user.displayName}} <span class="username" *ngIf="user.username != ''">@{{user.username}}</span></div>
            </div>
         </div>
   
         <button class="cancelChat" (click)="cancelNewChat()">Cancel</button>
         <button class="startChat" (click)="finishNewChat()">Finish</button>
      </div>

</div>
<!-- <button class="toconvo" [routerLink]="['/conversation']">conversation</button> -->
<!-- <button class="totestchatlist" [routerLink]="['/test']">test page</button> -->
<button class="newChat" (click)="startNewChat()">New Chat</button>