.page {
    display: flex;
}
.wrap {
    width: 100vw;
    height: 90vh;
}

.toconvo {
   position: absolute;
   right: 50px;
   bottom: 50px;
}

.totestchatlist {
   position: absolute;
   right: 150px;
   bottom: 50px;
}