$theme-white: #e8e8e8;
$theme-blue-light: #00b7ff;
$theme-blue-dark: #006b8c;
$theme-black-light: #282828;
$theme-black-medium: #191919;
$theme-black-dark: #070707;
$theme-red: #b52626;


.page {
    display: flex;
}
.wrap {
    width: 100vw;
    height: 90vh;
    background: $theme-black-medium;
    padding-top: 15px;
}

.chat {
   height: 10vh;
   width: 100%;
   background: $theme-black-dark;
   border-radius: 20px;
   margin-bottom: 15px;
   display: flex;
   user-select: none;
   cursor: pointer;
   position: relative;
   .selectThisChat {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 5;
   }
   div {
      position: relative;
      .seperator {
         height: 70%;
         width: 3px;
         position: absolute;
         right: 0;
         margin: auto;
         top: 0;
         bottom: 0;
         background: $theme-black-light;
      }
   }
   .members {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .member {
         height: 30px;
         width: 30px;
         border-radius: 100%;
         background: $theme-blue-light;
         margin: 10px;
         background-size: cover;
         background-position: center center;
      }
      // background: orange;
   }
   .chat-name {
      flex: 3;
      display: flex;
      align-items: center;
      position: relative;
      p {
         font-family: "Ubuntu", sans-serif;
         color: $theme-blue-light;
         font-size: 1.5vw;
         text-align: center;
         position: relative;
         width: 100%;
         margin-bottom: 0;
      }
      // background: blue;
   }
   .last-message {
      flex: 5;
      display: flex;
      align-items: center;
      position: relative;
      .lastGif {
         height: 70%;
         position: absolute;
         right: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 2px solid $theme-blue-dark;
         border-radius: 5px;
         overflow: hidden;
         video {
            // border-radius: 5px;
            height: 100%;
            position: relative;
            right: 0;
            border: 2px solid $theme-blue-light;
            border-radius: 5px;
            z-index: 6;
         }
         .load-spinner {
            position: absolute;
            align-self: center;
            flex: 1;
            z-index: 5;
         }
      }
      
      p {
         font-family: "Ubuntu", sans-serif;
         color: $theme-white;
         font-size: 0.8vw;
         position: relative;
         left: 20px;
         margin-bottom: 0;
         .username-at {
            color: rgb(64, 64, 64);
         }
         .username {
            color: $theme-blue-light;
         }
      }
      // background: purple;
   }
   .remove {
      flex: 0.5;
      position: relative;
      cursor: pointer;
      z-index: 6;
      svg {
         position: absolute;
         margin: auto;
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         color: $theme-red;
         height: 35px;
         width: 35px;
      }
      // background: red;
   }
}

.toconvo {
   position: absolute;
   left: 50px;
   bottom: 50px;
}

.totestchatlist {
   position: absolute;
   left: 150px;
   bottom: 50px;
}

.newChat {
   position: absolute;
   right: 50px;
   bottom: 50px;
   border: none;
   background: $theme-blue-dark;
   color: $theme-white;
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 5px;
   font-size: 25px;
   font-family: "Ubuntu", sans-serif;
   cursor: pointer;
   z-index: 90;
}




.newchat-modal {
   background: $theme-black-light;
   height: 50vh;
   width: 30vw;
   position: fixed;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   border-radius: 5px;
   z-index: 95;

   p {
      margin: .5em .5em 0 0;
      text-align: right;
      cursor: pointer;
   }

   .users {
      position: absolute;
      width: calc(100% - 100px);
      height: calc(100% - 200px);
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      border: 3px solid #222;
      border-radius: 5px;
      background: #282828;
      left: 0;
      right: 0;
      margin: auto;
      padding: 5px;
      top: 100px;

      .user-image {
         height: 50px;
         width: 50px;
         border-radius: 100%;
         margin: 25px;
         background-position: center center;
         background-size: cover;
         background-color: $theme-blue-dark;
      }
   }

   .user-suggestion {
      position: absolute;
      top: 90px;
      width: calc(100% - 90px);
      background: $theme-black-dark;
      // height: 200px;
      max-height: 250px;
      // height: 250px;
      left: 0;
      right: 0;
      margin: auto;
      box-shadow: 3px 3px 10px #111;
      border-radius: 5px;
      overflow-y: auto;

      .close-suggested {
         position: fixed;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         z-index: 100;
      }

      .suggested-user {
         width: 100%;
         height: 70px;
         background: inherit;
         cursor: pointer;
         position: relative;
         z-index: 101;
         &:hover {
            background: #171717;
         }

         .profile-image {
            height: 50px;
            width: 50px;
            position: relative;
            top: 10px;
            border-radius: 100%;
            left: 10px;
            background: gray;
            background-position: center center;
            background-size: cover;
         }

         .profile-names {
            line-height: 70px;
            position: absolute;
            left: 70px;
            top: 0;
            // font-family: "Ubuntu";
            color: $theme-white;
            user-select: none;

            .username {
               color: $theme-blue-dark;
               margin-left: 25px;
            }
         }
      }
   }

   .user-search {
      position: absolute;
      top: 50px;
      width: calc(100% - 100px);
      border: none;
      padding: 10px;
      font-family: "Ubuntu", sans-serif;
      color: $theme-white;
      border-radius: 5px;
      background: $theme-black-medium;
      outline: none;
      left: 0;
      right: 0;
      margin: auto;
   }

   .startChat {
      position: absolute;
      bottom: 10px;
      right: 25px;
      background: $theme-blue-dark;
      color: $theme-white;
      border-radius: 5px;
      font-family: "Ubuntu", sans-serif;
      outline: none;
      padding: 7px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      cursor: pointer;
   }

   .cancelChat {
      position: absolute;
      bottom: 10px;
      left: 25px;
      background: $theme-red;
      color: $theme-white;
      border-radius: 5px;
      font-family: "Ubuntu", sans-serif;
      outline: none;
      padding: 7px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      cursor: pointer;
   }
}