/* You can add global styles to this file, and also import other style files */

$theme-white: #e8e8e8;
$theme-blue-light: #00b7ff;
$theme-blue-dark: #006b8c;
$theme-black-light: #282828;
$theme-black-medium: #191919;
$theme-black-dark: #070707;

html, body {
   margin: 0;
   padding: 0;
   background: $theme-black-light;
}

video {
   pointer-events: none;
}

* {
   &::-webkit-scrollbar {
      width: 15px;
   }
	&::-webkit-scrollbar-thumb {
      background: $theme-blue-dark;
      border-radius: 5px;
      margin-right: 5px;
      border: 3px solid transparent;
      background-clip: content-box;
	}
   &::-webkit-scrollbar-track {
      background: transparent;
      padding-right: 5px;
   }
   &::-webkit-scrollbar-button {
      display: none;
   }
}


@font-face {
   font-family: "Ubuntu";
   src: url(assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: "Ubuntu-Bold";
	src: url(assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
	font-family: "Ubuntu-Light";
	src: url(assets/fonts/Ubuntu-Light.ttf);
}


@font-face {
	font-family: "Miriam Libre";
	src: url(assets/fonts/MiriamLibre-Regular.ttf);
}

@font-face {
	font-family: "Miriam Libre-Bold";
	src: url(assets/fonts/MiriamLibre-Bold.ttf);
}

@font-face {
	font-family: "Montserrat";
	src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "Montserrat-Light";
	src: url(assets/fonts/Montserrat-Light.ttf);
}