/* You can add global styles to this file, and also import other style files */

@font-face {
   font-family: "Ubuntu";
   src: url(assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: "Ubuntu-Bold";
	src: url(assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
	font-family: "Ubuntu-Light";
	src: url(assets/fonts/Ubuntu-Light.ttf);
}


@font-face {
	font-family: "Miriam Libre";
	src: url(assets/fonts/MiriamLibre-Regular.ttf);
}

@font-face {
	font-family: "Miriam Libre-Bold";
	src: url(assets/fonts/MiriamLibre-Bold.ttf);
}

@font-face {
	font-family: "Montserrat";
	src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "Montserrat-Light";
	src: url(assets/fonts/Montserrat-Light.ttf);
}